body{
    background-color: #BC8F8F;
}

.ingredients:hover {
    background-color: #FFF5EE;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #8B4513;
    text-align: center;
    font-size: 40px;
    font-weight: bold;;
  }